 ![png](saika.png)

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

username = 'root' # default username for MySQL db is root
password = 'Ve16874905' # whatever password you chose during MySQL installation.

connection = f'mysql+pymysql://{username}:{password}@localhost/sakila'
engine = create_engine(connection)

In [14]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [17]:
q='''
SELECT customer.first_name,customer.last_name, customer.email, address.address_id, address.city_id
FROM customer
JOIN address ON address.address_id = customer.address_id
WHERE address.city_id = 312;'''
df= pd.read_sql(q, engine)
df

  first_name last_name                              email  address_id  city_id
0     MATTIE   HOFFMAN  MATTIE.HOFFMAN@sakilacustomer.org         256      312
1      CECIL     VINES     CECIL.VINES@sakilacustomer.org         517      312

In [ ]:
q='''SELECT *
FROM category'''